<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body >
        <div class="main">
            <nav>
                <div class="horizontal-border">
                    <div class="horizontal">
                        <div class="pure-g">
                            <div class="left-box"> </div>
                            <div class="pure-u-1-5 link">
                                <a href="/"> 
                                    <span style="color: grey">00. </span><br>Index </a>
                                </div>
                            <div class="pure-u-1-5 link">
                                <a href="/guestbook"> 
                                    <span style="color: grey">01. </span><br>Guestbook </a>
                                </div>
                            <div class="pure-u-1-5">
                                <a href=""> 
                                    <span style="color: grey">02. <br>Ajax_message </a></span>
                                </div>
                            <div class="pure-u-1-5 link">
                                <a href="/newmessage"> <span style="color: grey"> 03. </span><br>New_message  </a>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="vertical-border">
                    <div class="vertical">
                       <p class="sidebar">@ G U E S T B O O K</p>
                    </div>
                </div>
            </nav>
            <div class="content">

                <h2> Write a new message. </h2>

                <p id="error" hidden> You must fill all boxes! </p> 
                <form name="page" class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group">
                            <label class="tag"> Name:  </label>
                                <input id="name"    class="pure-input-1-2" name="input_box" placeholder="John.."> 
                                    
                                </input>
                        </div>
                        <div class="pure-control-group">
                            <label  class="tag"> Country: </label>
                                <input id="country" class="pure-input-1-2" name="input_box" placeholder="United Kingdom.."> 
                                    
                                </input>
                        </div>
                        <div class="pure-control-group">
                            <label  class="tag"> Message: </label>
                                <input id="message" class="pure-input-1-2" name="input_box" placeholder="Hello world!"> 
                                    
                                </input>
                                <span class="pure-button pure-button-primary" id="button"> loading.. </span>
                        </div>
                        <div id="present_data"> </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
<style>
    .buttonify {
        user-select: none;
        color: #111111;
        margin: auto;
        padding: 1%;
        padding-right: 2.5%;
        padding-left: 2.5%;
        border-radius: 2px;
        text-decoration: none;
        border: 1px solid black;
        background-color: white;
    }

    .buttonify:hover {
        background-color: #888888;
    }

</style>
<script>
    let submit_button = document.getElementById("button");

    
    // Wait until JavaScript has been loaded to allow for submitting.
    submit_button.innerHTML = "submit";
    submit_button.className = "buttonify";

    submit_button.addEventListener("click", function() {
        let error = document.getElementById("error");

        let name = document.getElementById("name").value;
        let message = document.getElementById("message").value;
        let country = document.getElementById("country").value;

        let input_boxes = document.forms["page"]["input_box"];
    
        // Paint empty boxes red.
        for (let i = 0; i < input_boxes.length; i++) {
            let current_box = input_boxes[ i ];
            
            if (current_box.value == "") {
                current_box.style.borderColor = "red";
                continue;
            }
                current_box.style.borderColor = "";         
        }

        // If any value is "", exit.
        if ([name, message, country].some((value) => value == "")) {
            error.hidden = false;
            return;
        }

        error.hidden = true;

        var xhr = new XMLHttpRequest();
        var url = "/ajaxmessage";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {               
                // Check for ratelimit error.
                if (xhr.responseText.includes("429" )) {
                    alert("Slow down! Only 1 message every 5 seconds.")
                    return;
                }

                // Write the .html from the API to the page.
                document.getElementById("present_data").innerHTML = xhr.response
            }
        };

        var data = JSON.stringify({
            "username" : name,
            "message"  : message,
            "country"  : country
        });

        xhr.send(data);
    })
</script>
<script src="/script.js"></script>