<!DOCTYPE html>
<html>
    <head>
        <!-- TODO: Add headers -->
    </head>
    <body>
        <h1> Write a new message. </h1>
        <!-- TODO: Add body -->

        <p> Name: 
            <input id="name" placeholder="John.."> 
                
            </input>
        </p>
        <p> Country: 
            <input id="country" placeholder="United Kingdom.."> 
                
            </input>
        </p>
        <p> Message: 
            <input id="message" placeholder="Hello world!"> 
                
            </input>
        </p>
        <span id="button"> loading.. </span>
        <div id="present_data"> </div>
    </body>
</html>
<style>
    .buttonify {
        user-select: none;
        margin: auto;
        padding: 0.2%;
        border-radius: 5px;
        text-decoration: none;
        border: 1px solid black;
    }

    .buttonify:hover {
        background-color: rgba(0, 0, 0, 0.24);
    }

</style>
<script>
    let submit_button = document.getElementById("button");
    
    // Wait until JavaScript has been loaded to allow for submitting.
    submit_button.innerHTML = "submit";
    submit_button.className = "buttonify";

    // TODO: Make .submit work
    submit_button.addEventListener("click", function() {
        var xhr = new XMLHttpRequest();
        var url = "/ajaxmessage";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log(xhr.response)
                document.getElementById("present_data").innerHTML = xhr.response
            }
        };
        var data = JSON.stringify({
            "username" : document.getElementById("name").value,
            "message"  : document.getElementById("message").value,
            "country"  : document.getElementById("country").value
            });
        xhr.send(data);
    })
</script>