<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link rel="stylesheet" href="/templates/static/styles.css">
    </head>
    <body>
        <div class="pure-g">
            <div class="pure-u-1-3"> </div>
            <div class="pure-u-1-3 box">  
                <div class="pure-menu pure-menu-horizontal">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item">
                            <a href="/" class="pure-menu-link"> home </a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="/guestbook"  class="pure-menu-link">  guestbook  </a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="/newmessage" class="pure-menu-link">  new message  </a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="/ajaxmessage" class="pure-menu-link">  ajax message  </a>
                        </li>
                    </ul>
                </div>

                <h2> Write a new message. </h2>

                <p id="error" hidden> You must fill all boxes! </p> 
                <form name="page" class="pure-control-group pure-form pure-form-aligned">
                    <p class="tag"> Name: 
                        <input id="name" name="input_box" placeholder="John.."> 
                            
                        </input>
                    </p>
                    <p  class="tag"> Country: 
                        <input id="country" name="input_box" placeholder="United Kingdom.."> 
                            
                        </input>
                    </p>
                    <p  class="tag"> Message: 
                        <input id="message" name="input_box" placeholder="Hello world!"> 
                            
                        </input>
                    </p>
                    <span id="button"> loading.. </span>
                    <div id="present_data"> </div>
                </form>
            </div>
            <div class="pure-u-1-3"> </div>
    </body>
</html>
<style>
    .buttonify {
        user-select: none;
        color: #111111;
        margin: auto;
        padding: 1%;
        padding-right: 1.3%;
        border-radius: 2px;
        text-decoration: none;
        border: 1px solid black;
        background-color: white;
    }

    .buttonify:hover {
        background-color: #888888;
    }

</style>
<script>
    let submit_button = document.getElementById("button");

    
    // Wait until JavaScript has been loaded to allow for submitting.
    submit_button.innerHTML = "submit";
    submit_button.className = "buttonify";

    submit_button.addEventListener("click", function() {
        let error = document.getElementById("error");

        let name = document.getElementById("name").value;
        let message = document.getElementById("message").value;
        let country = document.getElementById("country").value;

        let input_boxes = document.forms["page"]["input_box"];
    
        // Paint empty boxes red.
        for (let i = 0; i < input_boxes.length; i++) {
            let current_box = input_boxes[ i ];
            
            if (current_box.value == "") {
                current_box.style.borderColor = "red";
                continue;
            }
                current_box.style.borderColor = "";         
        }

        // If any value is "", exit.
        if ([name, message, country].some((value) => value == "")) {
            error.hidden = false;
            return;
        }

        error.hidden = true;

        var xhr = new XMLHttpRequest();
        var url = "/ajaxmessage";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {               
                // Check for ratelimit error.
                if (xhr.responseText.includes("429" )) {
                    alert("Slow down! Only 1 message every 5 seconds.")
                    return;
                }

                // Write the .html from the API to the page.
                document.getElementById("present_data").innerHTML = xhr.response
            }
        };

        var data = JSON.stringify({
            "username" : name,
            "message"  : message,
            "country"  : country
        });

        xhr.send(data);
    })
</script>