<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body >
        <div class="main">
            <nav>
                <div class="horizontal-border">
                    <div class="horizontal">
                        <div class="pure-g">
                            <div class="left-box"> </div>
                            <div class="pure-u-1-5 link">
                                <a href="/"> 
                                    <span style="color: grey">00. </span><br>Index </a>
                                </div>
                            <div class="pure-u-1-5 link">
                                <a href="/guestbook"> 
                                    <span style="color: grey">01.</span><br>Guestbook </a>
                                </div>
                            <div class="pure-u-1-5 link">
                                <a href="/ajaxmessage"> 
                                    <span style="color: grey">02. </span><br>Ajax_message </a>
                                </div>
                            <div class="pure-u-1-5">
                                <a href=""> <span style="color: grey"> 03. <br>New_message</a></span>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="vertical-border">
                    <div class="vertical">
                       <p class="sidebar">@ G U E S T B O O K</p>
                    </div>
                </div>
            </nav>

            <div class="content">
                <h2> Write a new message. </h2>

                <p id="error" hidden> You must fill all boxes! </p>
                <form action="/newmessage" class="pure-form pure-form-aligned" method="post"> 
                    <fieldset>
                        <div class="pure-control-group">
                            <label class="tag"> Name:  </label>
                                <input id="name"    class="pure-input-1-2" name="input_box" placeholder="John.."> 
                                    
                                </input>
                        </div>
                        <div class="pure-control-group">
                            <label  class="tag"> Country: </label>
                                <input id="country" class="pure-input-1-2" name="input_box" placeholder="United Kingdom.."> 
                                    
                                </input>
                        </div>
                        <div class="pure-control-group">
                            <label  class="tag"> Message: </label>
                                <input id="message" class="pure-input-1-2" name="input_box" placeholder="Hello world!"> 
                                    
                                </input>
                            <input class="pure-button" type="submit" value="Submit">
                        </div>
                    
                </form>
            </div>
        </div>
    </body>
</html>
<style>
    button {
        color: black;
        background-color: aliceblue;
    }
</style>
<script src="/script.js"></script>