<script>
    let submit_button = document.getElementById("button");

    
    // Wait until JavaScript has been loaded to allow for submitting.
    submit_button.innerHTML = "submit";
    submit_button.className = "buttonify";

    submit_button.addEventListener("click", function() {
        let error = document.getElementById("error");

        let name = document.getElementById("name").value;
        let message = document.getElementById("message").value;
        let country = document.getElementById("country").value;

        let input_boxes = document.forms["page"]["input_box"];
    
        // Paint empty boxes red.
        for (let i = 0; i < input_boxes.length; i++) {
            let current_box = input_boxes[ i ];
            
            if (current_box.value == "") {
                current_box.style.borderColor = "red";
                continue;
            }
                current_box.style.borderColor = "";         
        }

        // If any value is "", exit.
        if ([name, message, country].some((value) => value == "")) {
            error.hidden = false;
            return;
        }

        error.hidden = true;

        var xhr = new XMLHttpRequest();
        var url = "/ajaxmessage";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {               
                // Check for ratelimit error.
                if (xhr.responseText.includes("429" )) {
                    alert("Slow down! Only 1 message every 5 seconds.")
                    return;
                }

                // Write the .html from the API to the page.
                document.getElementById("present_data").innerHTML = xhr.response
            }
        };

        var data = JSON.stringify({
            "username" : name,
            "message"  : message,
            "country"  : country
        });

        xhr.send(data);
    })
</script>