<nav>
    <div class="horizontal-border">
        <div class="horizontal">
            <div class="pure-g">
                <!-- TODO: Add highlighting somehow. -->
                <div class="left-box"></div>
                <div class="pure-u-1-5 link">
                    <a href="/index.html"> 
                        <span style="color: grey">00. </span><br>Index.</a>
                    </div>
                <div class="pure-u-1-5 link">
                    <a href="/guestbook"> 
                        <span style="color: grey">01. </span><br>Guestbook</a>
                    </div>
                <div class="pure-u-1-5 link">
                    <a href="/ajaxmessage"> 
                        <span style="color: grey">02. </span><br>Ajax_message</a>
                    </div>
                <div class="pure-u-1-5 link">
                    <a href="newmessage"> 
                        <span style="color: grey">03. </span><br>New_message</a>
                    </div>
            </div>
        </div>
    </div>
    <div class="vertical-border">
        <div class="vertical">
           <p class="sidebar">@ G U E S T B O O K</p>
        </div>
    </div>
</nav>