<h2> Write a new message. </h2>

<p id="error" hidden> You must fill all boxes! </p>
<form action="/newmessage" class="pure-form pure-form-aligned" method="post"> 
    <fieldset>
        <div class="pure-control-group">
            <label class="tag"> Name:  </label>
                <input id="name"    class="pure-input-1-2" name="input_box" placeholder="John.."> 
                    
                </input>
        </div>
        <div class="pure-control-group">
            <label  class="tag"> Country: </label>
                <input id="country" class="pure-input-1-2" name="input_box" placeholder="United Kingdom.."> 
                    
                </input>
        </div>
        <div class="pure-control-group">
            <label  class="tag"> Message: </label>
                <input id="message" class="pure-input-1-2" name="input_box" placeholder="Hello world!"> 
                    
                </input>
            <input class="pure-button" type="submit" value="Submit">
        </div>
    
</form>