<div style="user-select: none;">
    <h1 class="title">Hello, world!</h1>  
    <p><br>
    Welcome to our guestbook, where you can leave your mark on the internet. 
    This digital space is all about connection & communication.
    <br><br>
    We've stripped away all the unnecessary clutter. 
    You have infront of you a streamlined interface that's easy to use.
    <br><br>
    Whether you're leaving a heartfelt message, a hilarious joke, 
    or just a quick <span style="color: #1E90FF">"Yo"</span>, we can't wait to read it. 
    <br><br>
    So grab a cup of coffee, and let the words flow.</p><br><br>
    <p style="text-align:left;font-size: small;color: white"><br>For the best experience use desktop. Mobile scaling can be "interesting."  </p>
</div>